* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    padding: 50px 100px 100px 100px;
    margin:100px;
    text-align: center;
    display: flex;
}

.headFront{
    text-align: center;
    align-content: center;
}
#foto{
    width: auto;
    height:200px;
    align-content: center;
}
#logo{
    width: auto;
    height:50px;
    text-align: left;
}
#atas{
    
    text-align: left;
}
body{
    background-color:rgb(255, 255, 255);
    margin: auto;
    text-align: center;
}

#hola{
    padding:25px;
    width: 300px;
    height: 500px;
    background-color:rgb(230, 194, 98);
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, serif;font-size: 150%;
}
#hola2{
    padding:25px;
    width: 300px;
    height: 500px;
    background-color:rgb(248, 171, 54) ;
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, serif;font-size: 150%;
}
#hola3{
    padding:25px;
    width:300px;
    height:500px;
    background-color:rgb(255, 251, 0) ;
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, serif;font-size: 150%;

}